dbname:db_map
dbhost:127.0.0.1
dbuser:microcosm
dbpass:k8AY^p$Ytnrh
dbtableprefix:planet_
dbtablemodifyprefix:portsmouth_mod_
dbtabletestprefix:portsmouth_test_
dump_path:/home/tim/dev/osm2pgcopy/fosm-portsmouth-2017.o5m.gz
csv_absolute_path:/home/tim/dev/osm2pgcopy/test-

